.main {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("https://raw.githubusercontent.com/TristanHeckelsmueller/Speedpong/master/docs/assets/images/background/background_img_blurred_v3.jpg");
  background-size: cover;
  overflow-y: scroll;
  @mixin atSmall {
    display: flex;
  }
  &__img {
    @mixin atMedium {
    }
    & img {
      width: 58%;

      transition: 2s all ease;
      &:hover {
      }
    }
    &--desktop {
      display: none;
      @mixin atSmall {
        display: grid;
      }
      & img {
        margin: 0 20.5%;
      }
    }
    &--mobile {
      display: block;
      width: 20%;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      @mixin atSmall {
        display: none;
      }
    }
  }
  &__links {
    margin: 75% 10% 0 10%;
    @mixin atSmall {
      margin: 0 10%;
    }

    &__link {
      background: #d80827;
      text-align: center;
      border-radius: 7px;
      transition: 0.2s all ease;
      padding: 1em;
      color: #fff;
      cursor: pointer;
      margin: 1em;
      @mixin atSmall {
        padding: 0.5em;
        margin: 10vh 0;
      }
      & a {
        color: #fff;
        text-decoration: none;
      }
      &:hover {
        transition: 0.2s all ease;
        box-shadow: 3px 3px 5px #000;
      }
    }
  }
  &__right {
    margin: 0 10% !important;
  }
}

.icons {
  position: absolute;
  display: flex;
  top: 0.5em;
  left: 0.5em;
  align-items: center;
  & img {
    width: 40px;
    height: 40px;
    margin-right: 1em;
    @mixin atMedium {
      width: 50px;
      height: 50px;
      margin-right: 0.5em;
    }
  }
}
.main_agb {
  bottom: 0.5em;
  right: 0.5em;
  color: #fff;
  padding: 0.5em 0.5em;
  position: absolute;
  @mixin atMedium {
  }
  & a {
    font-weight: 100;
    font-size: 0.6em;
  }
}
video {
  z-index: 1;
}
.main__video {
  width: 70% !important;
  margin: 20% 15%;
  border: 3px solid #fff;
  top: none !important;
  right: unset !important;
  @mixin atSmall {
    top: 0.5em !important;
    right: 0.5em !important;
    width: 23% !important;
    margin: 0;
  }
}
