/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10em;
  background: #1a1a1aa1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e0e0ea1;
  transition: 1s all ease;
}
